<h1>Products Page</h1>

We have <%= @products.count %> products.

<p>
  <% @products.each do |products| %>
    <li><%=products.name%>: $<%= products.price %>
    <br>Product Description: <%=products.description%>
    <br>Quantity: <%=products.quantity%> left
    </li>
      <%= link_to "add to cart", buy_path(products), class: "btn btn-primary"%>
  <br>
  <% end %>
</p>

<h2> your shopping cart has <%= @cart.length%> items</h2>
<%= link_to "Check out", checkout_path%>

<p>
<button type="button" class="btn btn-secondary"><%= link_to "Home", root_path%></button>
</p>